<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="sender_email_id" value="emailidapplication@gmail.com"/>
		<add key="sender_password" value="rnggenerated2604"/>
	</appSettings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="EmailService.EmailService">
                <endpoint address="" binding="basicHttpBinding" contract="EmailService.IEmailService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/EmailService/EmailService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
