<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<appSettings>
		<add key="secret_key" value="o7K1SahCgOI7sDwO47moqQVEX1cT2YDUJkdETkggyIIGh40a5XxBgPRcRRFn"/>
		<add key="sender_email_id" value="emailidapplication@gmail.com"/>
		<add key="sender_password" value="rnggenerated2604"/>
		<add key="redis_connection_string" value="localhost:6379"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChessDb;Integrated Security=true;"/>
	</connectionStrings>
	<system.serviceModel>
		<behaviors>
			<serviceBehaviors>
				<behavior name="">
					<serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="false" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<services>
			<service name="AuthenticationService.AuthenticationService">
				<endpoint address="" binding="basicHttpBinding" contract="AuthenticationService.IAuthenticationService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/AuthenticationService/AuthenticationService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="AuthorizationService.AuthorizationService">
				<endpoint address="" binding="basicHttpBinding" contract="AuthorizationService.IAuthorizationService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/AuthorizationService/AuthorizationService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="GamesManagementService.GamesManagementService">
				<endpoint address="" binding="wsDualHttpBinding" contract="GamesManagementService.IGamesManagementService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/GamesManagementService/GamesManagementService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="UserProfileManagementService.UserProfileManagementService">
				<endpoint address="" binding="basicHttpBinding" contract="UserProfileManagementService.IUserProfileManagementService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/RegistrationService/RegistrationService/" />
					</baseAddresses>
				</host>
			</service>
			<service name="EmailService.EmailService">
				<endpoint address="" binding="basicHttpBinding" contract="EmailService.IEmailService">
					<identity>
						<dns value="localhost" />
					</identity>
				</endpoint>
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
				<host>
					<baseAddresses>
						<add baseAddress="http://localhost:8733/Design_Time_Addresses/EmailService/EmailService/" />
					</baseAddresses>
				</host>
			</service>
		</services>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IEmailService" />
				<binding name="BasicHttpBinding_IAuthorizationService" />
				<binding name="BasicHttpBinding_IAuthorizationService1" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/EmailService/EmailService/"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IEmailService"
			 contract="EmailServiceReference.IEmailService" name="BasicHttpBinding_IEmailService" />
			<endpoint address="http://localhost:8733/Design_Time_Addresses/AuthorizationService/AuthorizationService/"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorizationService"
			 contract="AuthorizationServiceReference.IAuthorizationService"
			 name="BasicHttpBinding_IAuthorizationService" />
			<endpoint address="http://localhost:8733/Design_Time_Addresses/AuthorizationService/AuthorizationService/"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorizationService1"
			 contract="UPMAuthorizationServiceReference.IAuthorizationService"
			 name="BasicHttpBinding_IAuthorizationService1" />
		</client>
	</system.serviceModel>
</configuration>