<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="redis_connection_string" value="localhost:6379"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChessDb;Integrated Security=true;"/>
	</connectionStrings>
</configuration>
