<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="redis_connection_string" value="localhost:6379"/>
  </appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChessDb;Integrated Security=true;"/>
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="BasicHttpBinding_IAuthorizationService" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://localhost:8733/Design_Time_Addresses/AuthorizationService/AuthorizationService/"
			 binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthorizationService"
			 contract="AuthorizationServiceReference.IAuthorizationService"
			 name="BasicHttpBinding_IAuthorizationService" />
		</client>
	</system.serviceModel>
</configuration>
