<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="secret_key" value="o7K1SahCgOI7sDwO47moqQVEX1cT2YDUJkdETkggyIIGh40a5XxBgPRcRRFn"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChessDb;Integrated Security=true;"/>
	</connectionStrings>
</configuration>
