<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="secret_key" value="o7K1SahCgOI7sDwO47moqQVEX1cT2YDUJkdETkggyIIGh40a5XxBgPRcRRFn"/>
	</appSettings>
	<connectionStrings>
		<add name="default" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;Initial Catalog=ChessDb;Integrated Security=true;"/>
	</connectionStrings>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="">
                    <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
                    <serviceDebug includeExceptionDetailInFaults="false" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service name="AuthenticationService.AuthenticationService">
                <endpoint address="" binding="basicHttpBinding" contract="AuthenticationService.IAuthenticationService">
                    <identity>
                        <dns value="localhost" />
                    </identity>
                </endpoint>
                <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:8733/Design_Time_Addresses/AuthenticationService/AuthenticationService/" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>
